{% extends "base.html" %}
{% block title %}ScoreBoardApp | {{ game_name }} - 已建立遊戲{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between mt-3">
    <h3>已建立的{{ game_name }}遊戲</h3>
    <a href="{% url game_create_url %}" class="btn btn-outline-primary">新建遊戲紀錄</a>
  </div>

  <table class="table text-center mt-3">
    <thead>
      <tr>
        <th scope="col">遊戲編號</th>
        <th scope="col">開始時間</th>
        <th scope="col">結束時間</th>
        <th scope="col">狀態</th>
      </tr>
    </thead>
    <tbody>
      {% for game in gameList %}
      <tr>
        <th scope="row"><a href="{% url game_detail_url game.id %}">{{ forloop.counter }}</a></th>
        <td>{{ game.create_time }}</td>
        <td>
          {% if game.end_time %}
          {{ game.end_time }}
          {% endif %}
        </td>
        <td>
          {% if game.status == 0 %}
          <h5><span class="badge badge-pill badge-success">遊戲中</span></h5>
          {% else %}
          <h5><span class="badge badge-pill badge-primary">已結束</span></h5>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}