{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="pragma"content="no-cache">

  <meta http-equiv="cache-control" content="no-cache">

  <meta http-equiv="expires"content="0">
  <title>ScoreBoard - 登入或註冊</title>
  <!-- boostrap.css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  <link href="{% static "css/login.css" %}" rel="stylesheet">
</head>
<body>
  <div class="form-signin">
      <form action="." method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">ScoreBoardApp</h1>
          </div>
        
          <div class="form-label-group">
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="帳號" required autofocus>
            <label for="inputUsername">帳號</label>
          </div>
        
          <div class="form-label-group">
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密碼" required>
            <label for="inputPassword">密碼</label>
          </div>
          <div class="text-danger">{{ message }}</div>
          <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">登入</button>
        </form>
        <div class="d-flex justify-content-between">
            <button class="flex-fill mr-2 btn btn-lg btn-outline-success">註冊會員</button>
            <button class="flex-fill ml-2 btn btn-lg btn-outline-danger">忘記密碼</button>
          </div>
          <p class="mt-5 mb-3 text-muted text-center">&copy; 2018 - 2019</p>
  </div>
   
  <!-- boostrap.js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>